* {
    font-family: 'Signika Negative', sans-serif;
}

input:-webkit-autofill::first-line {
    font-family: 'Signika Negative', sans-serif;
}

svg {
    vertical-align: top;
}

td {
    vertical-align: middle;
}
