<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="navigation">
        <div class="container-xl">

            <a class="navbar-brand" href="#" th:href="@{/}">
                <img alt="Star Wars Logo" class="logo"
                     th:src="@{/img/star-wars.png}"/>
            </a>

            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/characters}">
                            <th:block th:insert="~{fragments/icons :: characters}"/>
                            <span th:text="#{navigation.characters}">Characters</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/starships}">
                            <th:block th:insert="~{fragments/icons :: starships}"/>
                            <span th:text="#{navigation.starships}">Starships</span>
                        </a>
                    </li>

                </ul>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button">
                            <th:block th:insert="~{fragments/icons :: language}"/>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#" th:href="@{?language=en}">
                                    <th:block th:insert="~{fragments/icons :: squareRoundedChecked}"
                                              th:if="__${#locale}__ == 'en'"/>
                                    <th:block th:insert="~{fragments/icons :: squareRoundedUnchecked}"
                                              th:unless="__${#locale}__ == 'en'"/>
                                    <span th:text="#{navigation.languages.english}">English</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" th:href="@{?language=es}">
                                    <th:block th:insert="~{fragments/icons :: squareRoundedChecked}"
                                              th:if="__${#locale}__ == 'es'"/>
                                    <th:block th:insert="~{fragments/icons :: squareRoundedUnchecked}"
                                              th:unless="__${#locale}__ == 'es'"/>
                                    <span th:text="#{navigation.languages.spanish}">Spanish</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
</header>
</body>
</html>
