<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/headDependencies :: headDependencies}"/>
    <meta content="Characters page" name="description">
</head>
<body>
<th:block th:replace="~{fragments/navigation :: navigation}"/>

<main>
    <div class="container-xl mt-4">
        <h1 th:text="#{characters.title}">Characters</h1>
        <p th:text="#{characters.description}">This page lists all characters from the Star Wars universe.</p>

        <div class="row mb-3">
            <div class="col-md-6">
                <form class="d-flex flex-wrap align-items-center gap-2" method="get" th:action="@{/characters}">
                    <div class="flex-grow-1">
                        <label class="visually-hidden" for="characterSearchInput" th:text="#{characters.search.label}">Search
                            Characters</label>
                        <input aria-label="#{characters.search.placeholder}" class="form-control"
                               id="characterSearchInput" name="query"
                               th:placeholder="#{characters.search.placeholder}"
                               th:value="${viewModel.query}" type="text">
                    </div>
                    <div class="d-flex gap-2">
                        <button class="btn btn-primary" disabled id="characterSearchButton"
                                th:text="#{common.search}" type="submit">Search
                        </button>
                        <a class="btn btn-outline-secondary disabled" id="characterClearButton" th:href="@{/characters}"
                           th:text="#{common.search.clear}">Clear Search</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <table class="table table-striped" th:unless="${#lists.isEmpty(viewModel.characters)}">
                    <thead>
                    <tr>
                        <th th:text="#{common.table.header.id}">ID</th>
                        <th>
                            <a th:href="@{/characters(query=${viewModel.query}, page=${viewModel.currentPage}, sortBy='name', sortDirection=${viewModel.sortBy == 'name' and viewModel.sortDirection == 'asc' ? 'desc' : 'asc'})}">
                                <span th:text="#{characters.table.header.name}">Name</span>
                                <th:block th:insert="~{fragments/icons :: arrowUp}"
                                          th:if="${viewModel.sortBy == 'name' and viewModel.sortDirection == 'asc'}"/>
                                <th:block th:insert="~{fragments/icons :: arrowDown}"
                                          th:if="${viewModel.sortBy == 'name' and viewModel.sortDirection == 'desc'}"/>
                            </a>
                        </th>
                        <th th:text="#{characters.table.header.birth_year}">Birth Year</th>
                        <th th:text="#{characters.table.header.eye_color}">Eye Color</th>
                        <th th:text="#{characters.table.header.gender}">Gender</th>
                        <th th:text="#{characters.table.header.hair_color}">Hair Color</th>
                        <th th:text="#{characters.table.header.height}">Height</th>
                        <th th:text="#{characters.table.header.mass}">Mass</th>
                        <th th:text="#{characters.table.header.skin_color}">Skin Color</th>
                        <th>
                            <a th:href="@{/characters(query=${viewModel.query}, page=${viewModel.currentPage}, sortBy='created', sortDirection=${viewModel.sortBy == 'created' and viewModel.sortDirection == 'asc' ? 'desc' : 'asc'})}">
                                <span th:text="#{characters.table.header.created}">Created Date</span>
                                <th:block th:insert="~{fragments/icons :: arrowUp}"
                                          th:if="${viewModel.sortBy == 'created' and viewModel.sortDirection == 'asc'}"/>
                                <th:block th:insert="~{fragments/icons :: arrowDown}"
                                          th:if="${viewModel.sortBy == 'created' and viewModel.sortDirection == 'desc'}"/>
                            </a>
                        </th>
                        <th th:text="#{characters.table.header.edited}">Edited Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="character : ${viewModel.characters}">
                        <td th:text="${character.characterId}"></td>
                        <td th:text="${character.name}"></td>
                        <td th:text="${character.birthYear}"></td>
                        <td th:text="${character.eyeColor}"></td>
                        <td th:text="${character.gender}"></td>
                        <td th:text="${character.hairColor}"></td>
                        <td th:text="${character.height}"></td>
                        <td th:text="${character.mass}"></td>
                        <td th:text="${character.skinColor}"></td>
                        <td th:text="${#temporals.format(character.created, @dateFormatDisplay)}"></td>
                        <td th:text="${#temporals.format(character.edited, @dateFormatDisplay)}"></td>
                    </tr>
                    </tbody>
                </table>

                <nav class="d-flex justify-content-end" th:unless="${#lists.isEmpty(viewModel.characters)}">
                    <form class="d-flex flex-wrap align-items-center gap-2" method="get"
                          th:action="@{/characters}">

                        <p class="me-3" th:text="#{common.pagination.resultsFound(${viewModel.totalCount})}"></p>
                        <p class="me-3">|</p>
                        <p class="me-3" th:text="#{common.pagination.page(${viewModel.currentPage})}"></p>

                        <ul class="pagination">
                            <li class="page-item" th:classappend="${!viewModel.hasPreviousPage} ? 'disabled'">
                                <a class="page-link" href="#"
                                   th:href="@{/characters(page=${viewModel.currentPage - 1}, query=${viewModel.query}, sortBy=${viewModel.sortBy}, sortDirection=${viewModel.sortDirection})}"
                                   th:text="#{common.pagination.previous}"
                                   th:unless="${!viewModel.hasPreviousPage}">Previous</a>
                                <span class="page-link" th:if="${!viewModel.hasPreviousPage}"
                                      th:text="#{common.pagination.previous}">Previous</span>
                            </li>
                            <li class="page-item" th:classappend="${!viewModel.hasNextPage} ? 'disabled'">
                                <a class="page-link" href="#"
                                   th:href="@{/characters(page=${viewModel.currentPage + 1}, query=${viewModel.query}, sortBy=${viewModel.sortBy}, sortDirection=${viewModel.sortDirection})}"
                                   th:text="#{common.pagination.next}"
                                   th:unless="${!viewModel.hasNextPage}">Next</a>
                                <span class="page-link" th:if="${!viewModel.hasNextPage}"
                                      th:text="#{common.pagination.next}">Next</span>
                            </li>
                        </ul>
                    </form>
                </nav>

                <div class="alert alert-warning" th:if="${#lists.isEmpty(viewModel.characters)}">
                    <p th:text="#{characters.search.no_results}">No characters found matching your search criteria.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="~{fragments/footer :: footer}"/>
<th:block th:replace="~{fragments/bodyDependencies :: bodyDependencies}"/>
</body>
</html>
