<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/headDependencies :: headDependencies}"/>
    <meta content="Welcome page" name="description">
</head>
<body>
<th:block th:replace="~{fragments/navigation :: navigation}"/>

<main>
    <div class="container-xl mt-4 text-center d-flex flex-column align-items-center">
        <h1 th:text="#{index.welcome}">Welcome</h1>
        <p th:text="#{index.description}">This is a sample web application using Spring Boot and Thymeleaf.</p>
        <p th:text="#{index.instructions}">Get started by exploring the Star Wars universe!</p>
        <img alt="Welcome image" class="img-fluid mb-4" style="max-width: 600px;"
             th:src="@{/img/millennium-falcon.webp}">
    </div>
</main>

<th:block th:replace="~{fragments/footer :: footer}"/>
<th:block th:replace="~{fragments/bodyDependencies :: bodyDependencies}"/>
</body>
</html>
