<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/headDependencies :: headDependencies}"/>
    <meta content="Starships page" name="description">
</head>
<body>
<th:block th:replace="~{fragments/navigation :: navigation}"/>

<main>
    <div class="container-xl mt-4">
        <h1>Starships</h1>
    </div>
</main>

<th:block th:replace="~{fragments/footer :: footer}"/>
<th:block th:replace="~{fragments/bodyDependencies :: bodyDependencies}"/>
</body>
</html>
